.comp-adm-cabecalho {
    background-color: #514641;
    font-family: 'Inter';
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 10px 0px;
    height: 80px !important;
    justify-content: space-between;
    height: 65px;
    width: 100%;
    section {
        width: 27%;
        display: flex;
        align-items: center;
        gap: 40px;
        height: 100%;
        margin-top: 5px;
        padding-left: 30px;
        a{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            text-decoration: none;
            gap: 3px;
            img {
                width: 25px;
            }
            p {
                font-weight: 500;
                margin: 0px;
                font-size: 14px;
                color: white;
            }
        }
    }
    .logo {
        display: flex;
        width: 26%;
        min-width: 240px;
        height: 100%;
        align-items: center;
        justify-content: center;
        #logo {
            width: 240px;
            height: 100%;
        }
        #logo-xicara {
            display: none;
        }
    }
    .adm {
        width: 28%;
        padding-right: 30px;
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: flex-end;
        h4 {
            color: white;
            font-weight: 500;
            font-size: 17px;
        }
        img {
            width: 50px;
            border-radius: 25px;
            height: 50px;
        }
    }
}


@media(max-width: 930px) {
    .adm {
        article {
            display: none;
        }
    }
}

@media(max-width: 500px) {
    .adm {
        display: none !important;
    }
    .comp-adm-cabecalho {
        padding-right: 10px;
        section {


            a {
                p {
                    display: none;
                }
            }
        }
        .logo {
            width: 91px;
            min-width: unset;
            #logo {
                display: none;
            }
            #logo-xicara {
                display: flex;
            }
        }
    }
}