#page-produtos{
    > #conteudo {
        font-family: 'Inter';
        .faixaApresentacao {
            width: 100%;
            display: flex;
            position: relative;
            min-height: 350px;
            img {
                position: absolute;
                width: 280px;
                top: 0px;
                right: 130px;
            }
             article {
                background-color: #C3937D;
                width: 100%;
                height: 200px;
                display: flex;
                align-items: center;
                justify-content: center;
                > div {
                    width: 90%;
                    border: 2px solid black;
                    height: 90%;
                    display: flex;
                    align-items: center;
                    padding: 0px 50px;
                    color: white;
                    h3{
                        font-weight: 400;
                        font-size: 25px;
                    }
                }
            }
        }
        .faixaApresentacao2 {
            img {
                left: 130px;
                width: 280px;
                top: 0px;
            }
            > article {
                background-image: linear-gradient(to right, rgba(185, 77, 31, 0.2) 0%, #31231D 0%, #9D654C 70%);
                > article {
                    background-color: rgba(185, 77, 31, 0.6);
                    width: 100%;
                    height: 200px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    div {
                        justify-content: flex-end;
                    }
                }
                }
            }
        
        .faixaApresentacao3 {
            > article {
                background-color: #31231D;
            }
            img {
                // width: 350px;
                top: 0px;
                // right: 90px;
            }
        }
        .faixaProdutos {
            display: flex;
            padding: 50px;
            justify-content: space-between;
            gap: 20px;
            article {
                display: flex;
                width: 90%;
                gap: 25px;
                flex-wrap: wrap;
                padding: 0px 15px;
                > div {
                    display: flex;
                    width: 22%;
                    min-width: 180px;
                    flex-direction: column;
                    align-items: center;
                    gap: 10px;
                    p {
                        font-size: 16px;
                    }
                    img {
                        width: 120px;
                    }
                    button {
                        border: none;
                        font-size: 15px;
                        outline: none;
                        height: 35px;
                        background-color: #C3937D;
                        width: 180px;
                        border-radius: 10px;
                        color: white;
                        cursor: pointer;
                    }
                    button:hover {
                        background-color: #ddb3a1
                    }
                    button:active {
                        background-color: #a58070
                    }
                }
            }
            > aside {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                gap: 10px;
                min-width: 115px;
                width: 10%;
                button {
                    width: 50px;
                    height: 50px;
                    border: none;
                    outline: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 30px;
                    background-color: #C3937D;
                    cursor: pointer;
                    img {
                        width: 25px;
                        rotate: 90deg
                    }
                }
                button:hover {
                    background-color: #ddb3a1
                }
                h4 {
                    min-width: 114px;
                }
                button:active {
                    transform: translateY(-3px);
                    transition: 0.1s
                }
            }
        }
        #faixaAoContrario {
            flex-direction: row-reverse;
            > aside {
                button {
                    img {
                        rotate: 270deg;
                    }
                }
            }
        }
        .faixaProdutos3 {
            article {
                > div {
                    button {
                        background-color: #31231D
                    }
                    button:hover {
                        background-color: #553e33
                    }
                    button:active {
                        background-color: #221916
                    }
                }
            }
            aside {
                button {
                    background-color: #31231D;
                }
                button:hover {
                    background-color: #553e33
                }
            }
        }
        .faixaProdutos2 {
            article {
                > div {
                    button {
                        background-color: #883715;
                    }
                    button:hover {
                        background-color: #c55a2c;
                    }
                    button:active {
                        background-color: #5f2912;
                    }
                }
            }
            aside {
                button {
                    background-color: #883715;
                }
                button:hover {
                    background-color: #be5426;
                }
            }
        }
        #formasPagamento {
            padding: 50px 30px 30px 30px;
            h4 {
                font-size: 17px;
            }

            > article {
                display: flex;
                gap: 50px;
                padding: 20px 0px 0px 20px;
                > div {
                    display: flex;
                    gap: 5px;
                }
                > img {
                    width: 150px;
                }
            }
            #empresas {
                display: flex;
                flex-direction: row;
                gap: 20px;
            }
            
        }
    }
}

@media(max-width: 1500px) {
    #page-produtos {
        #conteudo {
            .faixaProdutos {
                article {
                    > div {
                        img {
                            width: 115px
                        }
                    }
                }
            }
            .faixaApresentacao {
                article {
                    > div {
                        h3 {
                            font-size: 24px;
                        }
                    }
                }
                img {
                    top: 8px;
                    width: 245px;
                }
            }
            .faixaApresentacao2 {
                img {
                    top: 0px;
                    width: 340px;
                }
            }
            .faixaApresentacao3 {
                img {
                    width: 340px;
                    top: 0px;
                }
            }
        }
    }
}
@media(max-width: 1100px) {
    #page-produtos {
        #conteudo {
            .faixaProdutos {
                article {
                    justify-content: center;
                    > div {
                        width: 40%;
                        img {
                            width: 105px
                        }
                    }
                }
            }
            .faixaApresentacao {
                article {
                    > div {
                        h3 {
                            font-size: 23px;
                        }
                    }
                }
                img {
                    top: 8px;
                    width: 245px;
                    right: 90px;
                }
            }
            .faixaApresentacao2 {
                img {
                    top: 0px;
                    left: 55px;
                    width: 325px;
                }
            }
            .faixaApresentacao3 {
                img {
                    width: 325px;
                    top: 0px;
                    right: 55px;
                }
            }
        }
    }
}
@media(max-width: 900px) {
    #page-produtos {
        #conteudo {
            .faixaProdutos {
                padding: 10px 50px 50px 50px;
                article {
                    justify-content: space-between;
                    padding: 0px 35px 0px 0px ;
                    > div {
                        p {
                            font-size: 15px
                        }
                        img {
                            width: 95px
                        }
                    }
                }
            }
            .faixaApresentacao {
                article {
                    > div {
                        padding: 0px 30px;
                        h3 {
                            font-size: 21.5px;
                        }
                    }
                }
                img {
                    top: 10px;
                    right: 70px;
                    width: 230px;
                }
            }
            .faixaApresentacao2 {
                img {
                    width: 305px;
                    top: 2px;
                    left: 35px;
                }
            }
            .faixaApresentacao3 {
                img {
                    right: 30px;
                    top: 2px;
                    width: 305px;
                }
            }
            .faixaProdutos2 {
                padding: 30px 50px 50px 50px;
            }
            .faixaProdutos3 {
                padding: 35px 50px 50px 50px;
            }
        }
    }
}
@media(max-width: 800px) {
    #page-produtos {
        #conteudo {
            .faixaProdutos {
                padding: 10px 50px 50px 50px;
                article {
                    > div {
                        width: 30%;
                        img {
                            width: 85px
                        }
                        button {
                            font-size: 14.5px;
                            width: 160px;
                        }
                    }
                }
            }
            .faixaApresentacao {
                min-height: 320px;
                article {
                    > div {
                        padding: 0px 20px;
                        h3 {
                            font-size: 21px;
                            max-width: 250px;
                        }
                    }
                }
                img {
                    top: 10px;
                    right: 60px;
                    width: 220px;
                }
            }
            .faixaApresentacao2 {
                min-height: 330px;
                article {
                    div {
                        h3 {
                            
                            max-width: 270px;
                        }
                    }
                }
                img {
                    width: 295px;
                    left: 25px;
                }
            }
            .faixaApresentacao3 {
                img {
                    right: 20px;
                    width: 295px;
                }
            }
            #formasPagamento {
                #empresas {
                    img {
                        width: 120px
                    }
                }
            }
            .faixaProdutos2 {
                padding: 20px 50px 50px 50px;
            }
            .faixaProdutos3 {
                padding: 25px 50px 50px 50px;
            }
        }
    }
}
@media(max-width: 650px) {
    #page-produtos {
        #conteudo {
            .faixaProdutos {
                flex-direction: column;
                gap: 50px;
                // align-items: ;
                article {
                    width: 100%;
                    padding: unset;
                    // justify-content: center;
                    > div {
                        width: 25%;
                        p {
                            font-size: 15px;
                        }
                        img {
                            width: 85px
                        }
                        button {
                            font-size: 14px;
                            width: 150px;
                        }
                    }
                }
                aside {
                    width: 100%;
                    align-items: center;
                    justify-content: center;
                    button {
                        img {
                            transform: rotate(90deg);
                        }
                    }
                }

            }
            #faixaAoContrario {
                flex-direction: column-reverse;
                > aside {
                    button {
                        img {
                            rotate: 270deg;
                        }
                    }
                }
            }
            .faixaApresentacao {
                min-height: 250px;
                article {
                    > div {
                        justify-content: center !important;
                        h3 {
                            font-size: 22px;
                            max-width: unset;
                        }
                    }
                }
                img {
                    display: none
                }
            }
            #formasPagamento {
                h4 {
                    font-size: 16px;
                }
                article {
                    > div {
                        font-size: 15px;
                    }
                }
                #empresas {
                    img {
                        width: 100px
                    }
                }
            }
        }
    }
}
@media(max-width: 550px) {
    #page-produtos {
        #conteudo {
            #formasPagamento {
                #empresas {
                    flex-wrap: wrap;
                    width: 250px;
                    img {
                        width: 100px
                    }
                }
            }
            .faixaProdutos {
                padding: 10px 30px 50px 30px;
                article {
                    justify-content: center;
                    gap: 30px;
                    > div {
                        width: 25%;
                        p {
                            font-size: 14.5px;
                        }
                        img {
                            width: 80px
                        }
                        button {
                            font-size: 14px;
                            width: 140px;
                        }
                    }
                }
            }
            .faixaApresentacao {
                article {
                    > div {
                        justify-content: center !important;
                        text-align: center;
                        padding: 40px;
                        h3 {
                            font-size: 21px;
                            max-width: unset;
                        }
                    }
                }
                img {
                    display: none
                }
            }
        }
    }
}
@media(max-width: 400px) {
    #page-produtos {
        #conteudo {
            #formasPagamento {
                article {
                    flex-direction: column;
                    gap: 20px;
                }
                #empresas {
                    width: 100%;
                    img {
                        width: 100px
                    }
                }
            }
            .faixaProdutos {
                flex-direction: column;
                gap: 40px;
                aside {
                    width: 100%;
                    button {
                        img {
                            rotate: 90deg;
                        }
                    }
                }
                article {
                    width: 100%;
                    padding: unset;
                }
            }
            .faixaApresentacao {
                article {
                    > div {
                        h3 {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}
