#page-conta-dados-pessoais{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    > #conteudo {
        padding: 30px 30px 30px 0px;
        height: 100%;
        display: flex;
        justify-content: center;
        main {
            font-family: 'Inter';
            width: 95%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            gap: 50px;
            section {
                width: 70%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 15px;
                #form {
                    border: 1px solid black;
                    width: 750px;
                    height: 80%;
                    padding: 50px 100px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    border-radius: 30px;
                    gap: 30px;
                    > article {
                        width: 100%;
                        input {
                            width: 99%;
                            min-width: 276px;
                        }
                    }
                    > button {
                        width: 150px;
                        min-height: 30px ;
                        font-size: 14.5px;
                        margin-top: 30px;
                        font-weight: 600;
                        border: none;
                        border-radius: 20px;
                        color: white;
                        background-color: #ff0000;
                    }
                    input {
                        height: 30px;
                        background: #d9d9d9;
                        border-radius: 10px;
                        padding: 5px 15px;
                        border: none;
                        width: 100%;
                        min-width: 100px;
                    }
                    input:focus {
                        outline: none;
                    }
                    article {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        label {
                            font-size: 15px;
                            font-weight: 500;
                        }
                    }
                    > div {
                        height: 65%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        gap: 30px;
                        width: 100%;
                        > div {
                            display: flex; 
                            flex-wrap: wrap;
                            width: 50%;
                            width: 100%;
                            gap: 30px;
                            article {
                                width: 47%;
                            }

                        }
                    }
                }
    
            }
            
        }
    }
}
@media(max-width: 1200px){
    #page-conta-dados-pessoais {
        #conteudo {
            main {
                section {
                    h2 {
                        font-size: 23px;
                    }
                    #form{
                        width: 100%;
                        min-height: 380px;
                        > article {
                            input {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media(max-width: 1115px){
    #page-conta-dados-pessoais {
        height: 120vh;
        #conteudo {
            main {
                section {
                    h2 {
                        font-size: 23px;
                    }
                    #form{
                        width: 100%;
                        min-height: 380px;
                        padding: 30px 80px;
                        > article {
                            input {
                                width: 100%;
                            }
                        }
                        > div {
                            > div {
                                article {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media(max-width: 900px){
    #page-conta-dados-pessoais {
        #conteudo {
            main {
                section {
                    h2 {
                        font-size: 21.5px;
                    }
                    #form {
                        padding: 30px 50px;
                    }
                }
            }
        }
    }
}
@media(max-width: 770px){
    #page-conta-dados-pessoais {
        height: 153vh;
    }
}
@media(max-width: 700px){
    #page-conta-dados-pessoais {
        height: unset;
        #conteudo {
            padding-left: 30px;
            main {
                flex-direction: column;
                section {
                    align-items: center;    
                    width: 100%;
                    #form{
                        padding: 40px 40px 40px 40px;
                        width: 100%;
                        > div {
                            height: unset;
                        }
                    }
                }
            }
        }
    }
}
@media(max-width: 450px){
    #page-conta-dados-pessoais {
        #conteudo {
            main {
                section {
                    h2 {
                        font-size: 21px;
                    }
                    #form{
                        padding: 30px 30px;
                        > article {
                            input {
                                min-width: unset !important;
                            }
                        }
                        label {
                            font-size: 14.5px !important;
                        }
                    }
                }
            }
        }
    }
}