@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');

.rodape {
    height: 200px;
    img {
        cursor: pointer;
    }

    p {
        font-size: 16px;
        font-family: 'Inter', sans-serif;
        text-align: center;
        word-wrap: break-word;
    }
    display: flex;
    flex-direction: row;
    background-color: #210B0B;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: space-between;x
    
    .botoes-rodape {
        p {
            margin-bottom: 3px;
            text-decoration: underline;
            color: white;
        }
        a {
            display: flex;
            flex-direction: row;
            text-decoration: none;
            align-items: center;
            justify-content: center;
            gap: 4px;
            color: white;
            font-size: 16px;
            font-weight: 400;
        }
    }

    .coluna-1 {
        display: flex;
        gap: 14px;
        flex-direction: column;
        align-items: center;
    
        align-items: center;
        width: 100%;

        .rede-sociais-icons {

            img {
                width: 37px;
                margin: 3px;
            }
        }
    }

    .coluna-2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 20px;
        align-items: center;
        justify-content: center;
        p {
            text-decoration: none;
        }
    }

    .coluna-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .coluna-4 {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 20px;
        align-items: center;
        justify-content: center;

        img {
            cursor: default;
            width: 200px;
        }
        
    }

    
    @media (max-width: 1030px) {
        .coluna-4 {
            display: none;
        }

        .separacao-3 {
            display: none;
        }
    }

    

}

@media (max-width: 770px) {
    .rodape {
        padding: 40px;
        flex-direction: column;
        height: fit-content;

        a {
            width: 100%;
        }

        hr {
            margin: 10px;
        }
    }
<<<<<<< HEAD
=======

    }
    
    > hr {
        display: none;
    }

>>>>>>> 96ee03a2e61f3479552330533eb31b79354d2343
}