#page-adm-inicio {
    font-family: 'Inter';
    main {
        display: flex;
        flex-direction: column;
        flex-direction: space-between;
        font-family: 'Inter';
        padding: 80px 75px;
        gap: 150px;
        width: 100%;
        #s1{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            h1 {
                font-size: 35px;
            }
            button {
                width: 100px;
                border-radius: 20px;
                height: 38px;
                border: none;
                background-color: #514641;
                font-size: 15px;
                color: white;
                cursor: pointer;
                transition: 0.2s;
            }
            button:active {
                background-color: #363230;
                transition: 0.2s;
            }
        }
        #s2 {
            display: flex;
            padding: 0px 50px;
            width: 100%;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            a {
                display: flex;
                align-items: center;
                flex-direction: column;
                padding: 10px;
                justify-content: center;
                width: 250px;
                gap: 15px;
                text-decoration: none;
                color: black;
                div {
                    background-color: #949393;
                    border-radius: 10px;
                    width: 160px;
                    height: 160px;
                    padding: 5px;
                    box-shadow: 2px 5px 10px 0px #000;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: 0.2s;

                    img {
                        max-width: 100px;
                        height: 100px;
                    }
                    #eyes {
                        max-width: 120px;
                        height: 120px;
                    }
                }
                div:active {
                    background-color: #ff7e33;
                    transition: 0.2s;
                }
            }
        }
        #s3 {
            display: none;
            button {
                width: 100px;
                border-radius: 20px;
                height: 38px;
                border: none;
                background-color: #514641;
                font-size: 15px;
                color: white;
                cursor: pointer;
            }
            button:active {
                background-color: #363230;
                transition: 0.2s
            }
        }
    }
}

@media(max-width: 1000px){
    #page-adm-inicio{
        main{
            #s2{
                justify-content: space-around;
            }
        }
    }
}
@media(max-width: 750px){
    #page-adm-inicio{
        main{
            padding: 80px 30px;
            #s1{
                display: flex;
                justify-content: center;
                button {
                    display: none
                }
            }
            #s2 {
                padding: unset;
            }
            #s3 {
                display: flex;
                justify-content: center;
            }
        }
    }
}
@media(max-width: 570px){
    #page-adm-inicio{
        main{
            gap: 100px;
            #s1 {
                h1 {
                    font-size: 32px;
                }
            }
            #s2 {
                a {
                    h3 {
                        font-size: 17px;
                    }
                    div {
                        width: 140px;
                        height: 140px;
                        img {
                            width: 80px;
                            height: 80px;
                        }
                    }
                }
            }
        }
    }
}
@media(max-width: 400px){
    #page-adm-inicio{
        main{
            gap: 80px;
            #s1 {
                h1 {
                    font-size: 30px;
                }
            }
            #s2 {
                a {
                    h3 {
                        font-size: 16px;
                    }
                    div {
                        width: 120px;
                        height: 120px;
                        img {
                            width: 60px;
                            height: 60px;
                        }
                    }
                }
            }
        }
    }
}