#comp-detalhes-pedido {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    text-align: start;
    > main {
        background-color: #d9d9d9;
        width: 700px;
        height: 400px;
        display: flex;
        justify-content: space-between;
        padding: 0px 30px;
        span {
            font-weight: 700;
            color: red;
        }
        #s1 {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            gap: 10px;
            article {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
        }
        #s2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-width: 250px;
            article{
                display: flex;
                flex-direction: column;
                position: relative;
                div{
                    background-color: #f07706;
                    display: flex;
                    height: 25px;
                    align-items: center;
                    justify-content: center;
                    width: 25px;
                    border-radius: 30px;
                    position: absolute;
                    bottom: 5px;
                    right: 10px;
                }
            }
        }
    }
}