#page-adm-produtos{
    height: 100vh;
    main{
        font-family: 'Inter';
        > #s1 {
            padding: 30px 30px 20px 30px;
            h1 {
                font-size: 23px;
            }
            display: flex;
            align-items: center;
            justify-content: space-between;
            a {
                height: 40px;
                font-weight: 600;
                background-color: #F47E3C;
                border-radius: 10px;
                font-size: 15.5px;
                text-decoration: none;
                color: black;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 200px;
                border: none;
            }
        }
        > #s2 {
            display: flex;
            padding: 15px 30px;
            position: relative;
            input {
                width: 98%;
                height: 50px;
                padding: 0px 15px;
                border-radius: 8px 0px 0px 8px;
                font-size: 15.3px;
                border: 1px solid black;
                background-color: #d9d9d9;
                outline: none;
            }
            article {
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 55px;
                border: 1px solid black;
                border-radius: 8px;
                background-color: white;
                position: absolute;
                right: 31px;
            }
        }
        > #s3 {
            display: flex;
            border: 2px solid black;
            margin: 20px 30px;
            border-radius: 8px;
            gap: 90px;
            align-items: center;
            flex-wrap: wrap;
            padding: 50px 50px;
            article{
                display: flex;
                flex-direction: column;
                gap: 20px;
                h3 {
                    font-size: 17px;
                }
                > div {
                    width: 230px;
                    height: 30px;
                    border-radius: 8px;
                    padding: 0px 10px;
                    border: 1px solid black;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    select {
                        width: 210px;
                        height: 20px;
                        gap: 20px;
                        display: flex;
                        border: none;
                        outline: none;
                        cursor: pointer;
                    }
                    
                }
            }
        }
        > #s4 {
            padding: 0px 30px;
            padding-bottom: 10px;
            table {
                background-color: #d9d9d9;
                display: flex;
                flex-direction: column;
                max-height: 700px;
                height: 470px;
                gap: 30px;
                padding: 30px 0px 0px 0px;
                .id {
                    width: 60px;
                }
                thead {
                    padding: 0px 39px 0px 27px;
                    tr{
                        width: 90%;
                        padding-right: 16px;
                        display: flex;
                        justify-content: space-between;
                        th{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100px;
                        }
                    }
                }
                hr{
                    width: 98%;
                    align-self: center;
                }
                .categoria {
                    width: 130px !important;
                }
                tbody{
                    padding: 0px 20px 0px 10px;
                    display: flex;
                    flex-direction: column !important;
                    margin-right: 3px;
                    gap: 20px;
                    width: 99.6%;
                    height: 330px;
                    overflow: scroll;
                    overflow-x: hidden;
                    tr{
                        display: flex;
                        justify-content: space-between;
                        background-color: white;
                        border-radius: 10px;
                        height: 140px;
                        padding: 7px 8px 7px 17px;
                        align-items: center;
                        > div {
                            width: 90%;
                            padding-right: 8px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                        }
                        td{
                            width: 100px;
                            min-height: 30px;
                            padding: 5px 8px;
                            border-radius: 5px;
                            background-color: #d9d9d9;
                            display: flex;
                            text-align: center;
                            align-items: center;
                            justify-content: center;
                        }
                        #acoes{
                            background-color: unset;
                            display: flex;
                            gap: 10px;
                            margin-bottom: 3px;

                            i{
                                
                                font-size: 25px;
                                cursor: pointer;
                            }
                            i:hover {
                                color: red;
                                transition: 0.2s;
                            }
                        }
                        .img {
                            background-color: unset;
                            width: 100px;
                            height: 136px;
                            img {
                                max-width: 100px;
                                max-height: 136px;
                            }
                        }
                    }
                    tr:hover {
                        background-color: #828282;
                        transition: 0.3s;
                        border: unset !important;
                    }
                }
                tbody::-webkit-scrollbar {
                    scroll-behavior: smooth;
                    width: 13px;
                }
                tbody::-webkit-scrollbar-thumb {
                    border-radius: 10px;
                    background-color:#828282;
                }
            }
        }
    }
}

@media(max-width: 1300px){
    #page-adm-produtos{
        main {
            > #s4{
                table{
                    thead {
                        tr {
                            width: 85%;
                        }
                    }
                    tbody {
                        tr{
                            > div {
                                width: 85%;
                            }
                        }
                    }
                    .desaparece{
                        display: none;
                    }
                }
            }
        }
    }
}



@media(max-width: 900px) {
    #page-adm-produtos{
        main {
            > #s3 {
                justify-content: center;
            }
            > #s4{
                table{
                    thead {
                        tr {
                            width: 75%;
                        }
                    }
                    tbody {
                        tr{
                            > div {
                                width: 75%;
                            }
                        }
                    }
                    .desaparece2{
                        display: none;
                    }
                }
            }
        }
    }
}

@media(max-width: 650px) {
    #page-adm-produtos{
        main {
            > #s1 {
                flex-direction: column;
                align-items: flex-start;
                gap: 15px;
                h1 {
                    font-size: 22px;
                }
            }
            > #s4{
                table{
                    thead {
                        tr {
                            width: 65%;
                        }
                    }
                    tbody {
                        tr{
                            > div {
                                width: 65%;
                            }
                        }
                    }
                    
                    .desaparece3{
                        display: none;
                    }
                }
            }
        }
    }
}
@media(max-width: 500px) {
    #page-adm-produtos{
        main {
            > #s1 {
                h1 {
                    font-size: 21px;
                }
                a {
                    width: 180px;
                    height: 33px;
                    font-weight: 700;
                    font-size: 14.5px;
                }
            }
            > #s3 {
                article {
                    gap: 10px ;
                    h3 {
                        font-size: 16px;
                    }
                    div {
                        width: 210px;

                        select {
                            width: 190px;
                        }
                    }
                }
            }
            > #s4{
                table{
                    .desaparece4{
                        display: none;
                    }
                    tbody {
                        tr {
                            height: 120px;
                            > div {
                            height: 120px;
                                .img {
                                    img {
                                        width: 80px;
                                        height: 80px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
