.page-adm-login{
    height: 100vh;
    width: 100%;
    display: flex;;
    flex-direction: column;
    justify-content: space-between;
    .cabecalho{
        background-color: #514641;
        display: flex;
        height: 70px;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .conteudo {
        height: 100%;
        display: flex;
        .img {
            width: 50%;
            background-image: url('../../../../public/assets/images/login-adm/img-escritorio.png');
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 450px;
            }
        }
        
        .login {
            width: 50%;
            padding: 0px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            main {
                border-radius: 25px;
                background-color: #d9d9d9;
                height: 350px;
                width: 400px;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 18px 0px;

                h2 {
                    color: #FF7223;
                    margin-bottom: 50px;
                }

                input {
                    border: none;
                    outline: none;
                    margin-bottom: 10px;
                    height: 30px;
                    width: 250px;
                    padding: 0px 15px;
                    border-radius: 10px;
                }
                input::placeholder {
                    color: #b8b4b4;
                }
                button {
                    width: 250px;
                    height: 30px;
                    margin: 45px 0px;
                    border: none;
                    background-color:#FF7223;
                    border-radius: 20px;
                    color: white;
                }
                button:hover {
                    transform: translateY(-3px);
                    transition: 0.2s
                }
                button:active {
                    background-color:#be5f2b;
                }
            }
        }
    }
}

@media(max-width: 900px){
    .page-adm-login{
        .conteudo {
            .img {
                display: none;
            }
            .login {
                width: 100%;

            }
        }
    }
}