#page-combos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    > #conteudo {
        display: flex;
        align-items:center;
        flex-direction: column;
        padding: 50px 30px;
        gap: 50px;
        font-family: 'Inter';
        button:hover {
            cursor: pointer;
        }
        .precoMarrom {
            color: #661515;
        }
        > section {
            display: flex;
            padding: 30px 50px ;
            border-radius: 10px;
            gap: 80px;
            border: 5px solid black;
            > #a1 {
                display: flex;
                flex-direction: column;
                gap: 50px;
                h2 {    
                    margin-left: 35px;
                }
                > div {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    > div {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        > img {
                            width: 37px;
                            height: 37px;
                            margin-bottom: 20px;
                        }
                        > section {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            gap: 5px;
                            h5 {
                                font-family: 'Inter';
                                font-size: 15px;
                            }
                            img {
                                width: 103px ;
                            }
                        }
                    }
                }
            }
            > #a2 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 50px;
                align-items: center;
                text-align: center;
                button {
                    height: 36px;
                    width: 200px;
                    color: white;
                    border-radius: 10px;
                    border: none;
                    font-family: "Inter";
                    font-size: 14.5px;
                    font-weight: 500;
                }
                .btLaranja {
                    background-color: #F47E3C;
                }
                .btLaranja:active {
                    background-color: #c76a35;
                    transition: 0.2s
                }
                button:hover {
                    transform: translateY(-3px);
                    transition: 0.2s;
                }
            }
            display: flex;
        }

    }
}

@media(max-width: 1150px){
    #page-combos{
        > #conteudo {
            > section {
                display: flex;
                flex-direction: column;
                gap: 80px;
                width: 90%;
                #a1 {
                    align-items: flex-start;
                    > div {
                        > div {
                            > section {
                                img {
                                    width: 100px;
                                }
                            }
                        }
                    }
                }
                #a2 {
                    gap: 30px !important;
                }

            }
        }
    }
}
@media(max-width: 950px){
    #page-combos{
        > #conteudo {
            > section {
               width: 570px;
                #a1 {
                    align-items: center;
                    width: 100%;
                    h2 {
                        margin: unset;
                    }
                    > div {
                        flex-wrap: wrap;
                        width: 440px;
                        gap: 50px;
                        > div {
                            gap: 50px;
                            > section {
                                min-width: 130px;
                                margin-top: 15px;
                                text-align: center;
                                img {
                                    width: 97px;
                                }
                            } 
                            .some {
                                display: none;
                            }
                        } 
                    }
                }
            }
        }
    }
}
@media(max-width: 700px){
    #page-combos{
        > #conteudo {
            > section {
               width: 90%;
                #a1 {
                    align-items: center;
                    width: 100%;
                    h2 {
                        margin: unset;
                    }
                    > div {
                        flex-wrap: wrap;
                        width: 440px;
                        min-width: none;
                        div {
                            section {
                                img {
                                    width: 95px !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 570px){
    #page-combos{
        > #conteudo {
            padding: 50px 15px;
            > section {
                padding: 25px 15px !important;
                #a1 {
                    h2 {
                        font-size: 22px;
                        text-align: center;
                    }
                    > div {
                        // width: 80%;
                        gap: 20px;
                        div {
                            gap: 20px;
                            section {
                                img {
                                    width: 90px !important;
                                }
                            }
                        }
                    }
                }
                #a2 {
                    h2 {
                        font-size: 21px;
                    }
                    button {
                        height: 33px;
                        width: 180px;
                        font-size: 14px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}
@media(max-width: 465px){
    #page-combos{
        > #conteudo {
            > section {
                width: 285px !important;
                #a1 {
                    > div {
                        width: 100%;
                        flex-direction: column;
                        gap: 20px;
                        div {
                            flex-direction: column;
                            section {
                                margin-top: 0px;
                                img {
                                    width: 90px
                                }
                            }
                            .some  {
                                display:flex;
                            }
                            > img {
                                margin-bottom: 0px !important;
                            }
                        }
                    }
                }
                #a2 {
                    h2 {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}