#page-combos{
    > #conteudo {
        display: flex;
        align-items:center;
        flex-direction: column;
        padding: 50px 30px;
        gap: 50px;
        font-family: 'Inter';
        button:hover {
            cursor: pointer;
        }
        .precoMarrom {
            color: #661515;
        }
        > section {
            display: flex;
            padding: 30px;
            border-radius: 10px;
            gap: 50px;
            > #a1 {
                display: flex;
                flex-direction: column;
                gap: 30px;
                h2 {    
                    margin-left: 35px;
                }
                > div {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    > img {
                        width: 30px;
                        margin-bottom: 20px;
                    }
                    > section {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 5px;
                        > div {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            gap: 5px;
                            h5 {
                                font-family: 'Inter';
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
            > #a2 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 50px;
                align-items: center;
                text-align: center;
                button {
                    height: 36px;
                    width: 200px;
                    color: white;
                    border-radius: 10px;
                    border: none;
                    font-family: "Inter";
                    font-size: 14.5px;
                    font-weight: 500;
                }
                .btMarrom {
                    background-color:#661515;
                }
                .btMarrom:active {
                    background-color:#331111;
                    transition: 0.2s;
                }
                .btLaranja {
                    background-color: #F47E3C;
                }
                .btLaranja:active {
                    background-color: #c76a35;
                    transition: 0.2s
                }
                button:hover {
                    transform: translateY(-3px);
                    transition: 0.2s;
                }
            }
            display: flex;
        }

        #s1 {
            border: 4px solid #C3937D;
            > #a1 {
                > div {
                    > section {
                        div {
                            position: relative;
                            #combo-esquerda {
                                position: absolute;
                                bottom: 0px;
                                margin: 0px 5px;
                                right: 60px;
                                width: 50px;
                            }
                            #combo-direita {
                                position: absolute;
                                bottom: 0px;
                                margin: 0px 5px;
                                left: 50px;
                                width: 50px;
                            }
                        }
                    }

                }
            }
        }
        #s2 {
            border: 4px solid #883715;
            > #a2 {
                justify-content: center;
                gap: 50px;
                #buttons {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }
            }
        }
        #s3 {
            border: 4px solid #3D1010;
        }
    }
}

@media(max-width: 1150px){
    #page-combos{
        > #conteudo {
            > section {
                display: flex;
                flex-direction: column;
                gap: 80px;
                width: 90%;
                #a1 {
                    align-items: flex-start;
                }
                #a2 {
                    gap: 30px !important;
                }

            }
        }
    }
}
@media(max-width: 950px){
    #page-combos{
        > #conteudo {
            > section {
               width: 600px;
                #a1 {
                    align-items: center;
                    width: 100%;
                    h2 {
                        margin: unset;
                    }
                    > div {
                        flex-wrap: wrap;
                        width: 490px;
                        gap: 25px;
                        > section {
                            margin-top: 15px;
                        } 
                        .some {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
@media(max-width: 700px){
    #page-combos{
        > #conteudo {
            > section {
               width: 90%;
                #a1 {
                    align-items: center;
                    width: 100%;
                    h2 {
                        margin: unset;
                    }
                    > div {
                        flex-wrap: wrap;
                        width: 480px;
                        min-width: none;
                        section {
                            img {
                                height: 129px !important;
                                width: 70px !important;
                            }
                            #combo-esquerda {
                                height: 75px !important;
                                width: 45px !important;
                                right: 35px !important;
                            }
                            #combo-direita {
                                height: 75px !important;
                                width: 45px !important;
                                left: 35px !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 570px){
    #page-combos{
        > #conteudo {
            padding: 50px 15px;
            > section {
                padding: 25px 15px !important;
                #a1 {
                    h2 {
                        font-size: 22px;
                        text-align: center;
                    }
                    > div {
                        width: 100%;
                        gap: 0px;
                        section {
                            img {
                                height: 109px !important;
                                width: 62px !important;
                            }
                            #combo-esquerda {
                                height: 70px !important;
                                width: 43px !important;
                                right: 35px !important;
                            }
                            #combo-direita {
                                height: 70px !important;
                                width: 43px !important;
                                left: 35px !important;
                            }
                        }
                    }
                }
                #a2 {
                    h2 {
                        font-size: 22px;
                    }
                    button {
                        height: 33px;
                        width: 180px;
                        font-size: 14px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}
@media(max-width: 465px){
    #page-combos{
        > #conteudo {
            > section {
                width: 261px !important;
                #a1 {
                    > div {
                        width: 100%;
                        flex-direction: column;
                        gap: 20px;
                        section {
                            margin-top: 0px;
                        }
                        .some  {
                            display:flex;
                        }
                        > img {
                            margin-bottom: 0px !important;
                        }
                    }
                }
            }
        }
    }
}