.assinatura {
    display: flex;
    flex-direction: column;
    font-family: 'Inter';

    b {
        color: #661515;
    }

    button {
        padding: 8px;
        background-color: #F47E3C;
        color: white;
        border: none;
        border-radius: 37px;
        cursor: pointer;
        font-family: 'Inter';
        font-size: 17px;
        width: 30%;
        margin-top: 20px;
        transition: .3s;
    }

    button:active {
        background-color: #f88f52;
        font-weight: bolder;
        transition: .3s;
        transform: translateY(-3px);
    }
    
    .corpo-site {
        display: flex;
        flex-direction: column;
        align-self: center;
        align-items: flex-start;
        width: 100%;
        padding: 40px;
        
        > h1 {
            font-size: 25px;
            align-self: center;
            margin: -20px 0px 20px 0px;
            text-align: center;
        }

        .texto-apresentacao {
            display: flex;
            flex-direction: column;
            
            ul {
                margin: 0px 0px 40px 30px;
            }
        }

        .selecionar-itens {
            display: flex;
            flex-direction: column;
            width: 100%;

            h1 {
                font-size: 21px;
            }

            .titulo {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                select {
                    width: 40%;
                    height: 30px;
                    font-size: 17px;
                    font-family: 'Inter';
                }
                select:focus {
                    outline: none;
                }
            }

            .itens-cafe {
                width: 100%;
                overflow-x: auto;
                scroll-behavior: smooth;
                overflow-y: hidden;
                display: flex;
                flex-direction: row;
                margin-top: 30px;
                align-items: center;
                gap: 45px;

                .item {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    align-items: center;

                    .adicionar {
                        cursor: pointer;
                        font-size: larger;
                        transition: .1s;
                        font-size: 20px;
                        user-select: none;
                    }

                    .adicionar:active {
                        font-weight: bolder;
                        transition: .1s;
                        color:#661515;
                        user-select: none;
                        transform: scale(1.3);
                    }

                    img {
                        width: 120px;
                    }

                    .quantidade-item {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 15px;
                    }
                }
            }
        }

        .selecionar-cartao {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: 70px;

            label {
                transform: .2s;
                display: flex;
                align-items: center;
            }
            
            
            #checkbox1 ~ label img{
                transition: .5s;
            }
            
            #checkbox1:checked ~ label img {
                transform: rotate(90deg);
                transition: .5s;
            }

            > h2 {
                font-size: 21px;
            }
            .agrupamento {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                font-size: 17px;
                justify-content: space-between;

                select {
                    width: 30%;
                    margin-top: 15px;
                    height: 40px;
                    font-size: 17px;
                    font-family: 'Inter';
                }

                select:focus {
                    outline: none;
                }

                .info-cartao {
                    display: flex;
                    flex-direction: column;
                    background-color: #E8E8E8;
                    padding: 0px 20px 0px 20px;
                    width: 60%;
                    align-items: center;
                    box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
                    margin-top: 15px;

                    button {
                        align-self: center;
                        margin-bottom: 20px;
                    }

                    .titulo {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        margin: 10px 0px;
                        width: 100%;

                       

                        p {
                            font-weight: bolder;
                        }
                        img {
                            width: 24px;
                            transform: rotate(-90deg);
                            cursor: pointer;
                        }
                        
                    }

                    .campo-inputs {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        gap: 13px;

                        input {
                            width: 100%;
                            border: 1px solid black;
                            height: 30px;
                            border-radius: 5px;
                            font-size: 18px;
                            font-family: 'Inter';
                            padding: 5px;
                        }

                        input:focus {
                            outline: none;
                        }

                        .secao2 {
                            display: flex;
                            flex-direction: row;
                            width: 100%;
                            justify-content: space-between;
                            > div {
                                width: 45%;
                                display: flex;
                                flex-direction: column;
                            }
                            input {
                                width: 100%;
                            }
                        }
                    }
                }  
            }

            
            
        }

        .selecionar-endereco {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: 70px;

            label {
                transform: .5s;
                display: flex;
                align-items: center;
            }
            
            #checkbox2 ~ label img{
                transition: .5s;
            }
            
            #checkbox2:checked ~ label img {
                transform: rotate(90deg);
                transition: .5s;
            }

            button {
                align-self: center;
                margin: 30px 0px 20px 0px;
            }

            select {
                width: 30%;
                height: 40px;
                font-size: 17px;
                font-family: 'Inter';
                margin-top: 16px;
            }

            select:focus{outline: none;}

            > h2 {
                font-size: 21px;
            }
            .agrupamento {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                width: 100%;
                font-size: 17px;
                justify-content: space-between;

                

                input {
                    width: 100%;
                    border: 1px solid black;
                    height: 30px;
                    border-radius: 5px;
                    font-size: 18px;
                    font-family: 'Inter';
                    padding: 5px;
                }

                input:focus {
                    outline: none;
                }

                .info-endereco {
                    width: 60%;
                    background-color:#E8E8E8;
                    box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
                    padding: 0px 20px;
                    margin-top: 16px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .resto {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                    }

                .titulo {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    margin: 10px 0px;
                    width: 100%;

                    p {
                        font-weight: bolder;
                    }
                    
                    img {
                        width: 24px;
                        transform: rotate(-90deg);
                        cursor: pointer;
                    }
                }

                .campo1 {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 100%;

                    > div {
                        display: flex;
                        flex-direction: column;
                        width: 45%;

                        input {
                            width: 100%;
                        }
                    }
                }
                
                .campo2 {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    width: 100%;

                    .endereco-usuario {
                        background-color: #81818191;
                        color: rgb(255, 17, 0);
                        font: optional;
                    }

                    label {
                        margin: 10px 0px -20px 0px;
                    }

                    input {
                        width: 100%;
                    }
                }
            }
        }
        }

        > button {
            display: flex;
            flex-direction: row;
            padding: 0px;
            margin: 60px 0px 100px 0px;
            width: 25%;
            align-self: center;
            
            align-items: center;
            justify-content: center;
            font-size: 19px;

            a {
                color: white;
                display: flex;
                width: 100%;
                justify-content: space-evenly;
                align-items: center;
                flex-direction: row;
                text-decoration: none;
            }
        }

        .texto-ajuda {
            display: flex;
            flex-direction: column;
            gap: 10px;

            h2 {
                font-size: 21px;
            }
        }
    }
}

@media (max-width: 892px) {
    .assinatura {
        .corpo-site {
           > button {
            width: 40%;
           }
        
    }
}}

@media (max-width: 793px) {
    .assinatura {
        .corpo-site {

            .selecionar-endereco {
                width: 100% !important;
                select {
                    width: 100% !important;
                }
                .info-endereco {
                    width: 100% !important;
                    
                }
            }

            .selecionar-cartao {
                width: 100% !important;
                select {
                    width: 100% !important;
                }
                .info-cartao {
                    width: 100% !important;
                }
            }

            .agrupamento {
                display: flex;
                flex-direction: column !important;
                width: 100% !important;
            }

        .info-cartao {
             button {
                width: 70% !important;
            }
        }

        .info-endereco {
             button {
                width: 70% !important;
            }
        }
    }
}
}

@media (max-width: 570px) {
    .assinatura{
        .corpo-site {
            > button {
                width: 50%;
                #imagem-fantasma {
                    display: none;
                }
            }
        }
    }
}