.cadastro-produto {
    display: flex;
    flex-direction: column;

    input:focus {
        outline: none;
    }

    > nav {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    textarea:focus{
        outline: none;
    }

    textarea {
        padding: 3px;
        border-radius: 8px;
        border: 2px solid rgba(0, 0, 0, 0.37);
        height: 28px;
        margin: 0px 0px 13px 0px;
        font-size: 17px;
        font-family: 'Inter';
    }
    .conteudo {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 20px;

        h1 {
            align-self: flex-start;
            font-size: 24px;
            margin: 0px 0px 30px 30px;
        }
        
    
        .formulario {
            background-color: #E8E8E8;
            display: flex;
            width: 75%;
            align-items: center;
            padding: 40px;
            flex-direction: column;
            box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
            

            hr {
                width: 100%;
                margin: 30px 0px 30px 0px;
            }

            .informacoes-produto {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;

                

                .lado-esquerdo {
                    display: flex;
                    flex-direction: column;
                    width: 45%;

                    > form {
                        display: flex;
                        flex-direction: column;

                        > div {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            
                            #peso {
                                width: 100%;
                            }

                            #estoque {
                                width: 100%;
                            }   
                        }
                    }
                }

                .lado-direito {
                    display: flex;
                    flex-direction: column;
                    width: 45%;

                    > div {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 10px;
                        margin-bottom: 40px;

                    }

                    #descricao {
                        height: 90px;
                    }

                    #alergia {
                        height: 50px;
                        margin: 0px 0px 50px 0px;
                    }

                    button {
                        display: flex;
                        width: 300px;
                        align-items: center;
                        justify-content: center;
                        align-self: center;
                        font-size: 17px;
                        font-family: 'Inter';
                        border: none;
                        padding: 9px;
                        border-radius: 10px;
                        color: white;
                        transition: .3s;

                        background-color: #F47E3C;
                    }

                    button:hover {
                        transform: translateY(-5px);
                        transition: .3s;
                        font-weight: bold;
                        background-color: #f7945a;
                        cursor: pointer;
                    }
                }

                .produto-detalhes {
                    background-color: #D9D9D9;
                    display: flex;
                    flex-direction: column;
                    padding: 10px 5px 10px 5px;
                    align-items: center;
                    width: 90%;
                    align-self: center;
                    margin: 15px 0px 0px 0px;
                    

                    .categorias {
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        gap: 8px;
                        height: 100px;
                        justify-content: center;
                        align-items: center;
                        label {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 10px;
                            width: 130px;
                        }
                    }

                    .detalhes {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 20px;

                        section {
                            margin-top: 20px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            input {
                                background-color:#D9D9D9;
                                border: none;
                                border-radius: 0px;
                                border-bottom: 2px solid #000;
                                width: 40px;
                                text-align: center;
                            }

                            img {
                                height: 30px;
                                width: 33px;
                            }
                        }
                    }
                }
            }
            

            .selecao-imagem {
                display: flex;
                justify-content: flex-start;
                flex-direction: row;
                width: 100%;
                flex-direction: column;

                .insercao-imagem {
                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    > p {
                        margin-bottom: 5px;;
                    }
                    > div {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 13px;
                        input {
                            padding: 3px;
                            border-radius: 8px;
                            width: 1000px;
                            border: 2px solid rgba(0, 0, 0, 0.37);
                            height: 28px;
                            font-size: 17px;
                            font-family: 'Inter';
                        }
                        button {
                            background-color: #F47E3C;
                            color: white;
                            border: none;
                            border-radius: 7px;
                            font-size: 15px;
                            font-family: 'Inter';
                            padding: 10px;
                            transition: .3s;
                        }

                        button:hover {
                            transform: translateY(-5px);
                            transition: .3s;
                            font-weight: bold;
                            background-color: #f7945a;
                            cursor: pointer;
                        }
                        textarea {
                         width: 85%;
                        }
                    }
                }
                

                .campo-imagens {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                }
        
                img {
                    width: 140px;
                    height: 140px;
                    transition: 0.5s;
                }

                .imagem-upada {
                    p {
                        z-index: 2;
                        display: none;
                        color:#000;
                        font-family: 'Inter';
                        font-weight: 900;
                    }
                }

                .imagem-upada:hover {
                    p {
                        display: block;
                        position: relative;
                        right: -67px;
                    }

                    img {
                        transform: scale(1.06);
                        transition: 0.5s;
                        opacity: 0.1;
                        position: relative;
                        left: -37px;
                    }
                }

                
                
                form {
                    position: relative;
                    top: -20px;
                }

                input {
                    background-size: cover;
                }
            
                label {
                    background-color: #D9D9D9;
                    height: 300px;
                    width: 300px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            
                .imagem-upada {
                    background-color: #D9D9D9;
                    height: 140px;
                    width: 140px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 10px;
                    margin-top: 0px;
                    padding: 5px;
                    border-radius: 5px;
                    cursor: pointer;
        
                    img {
                        max-width: fit-content;
                        padding: 10px;
                    }
                }
            }
        }
        }
    
}
