#page-acompanhar-pedido {
    > #conteudo {
        font-family: 'Inter';
        padding: 80px 50px 50px 50px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        > #progressoPedido {
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            margin-bottom: 30px;
            #icons {
                width: 1250px;
                display: flex;
                height: 80px;
                gap: 30px;
                justify-content: space-between;
                figure {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 80px;
                    height: 100%;
                }
                .icon {
                    width: 80x;
                    height: 80px;
                }
                .estagioIncompleto {
                    display: none;
                }
                .icon-finalizado {
                    width: 60px;
                    height: 60px;
                    position: absolute;
                    left: 40px;
                    top: -10px;
                }
            }
            #barraProgresso {
                position: relative;
                width: 100%;
                height: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                .concluido {
                    background-color: #278B2B !important; 
                }
                #estagios {
                    display: flex;
                    justify-content: space-between;
                    position: absolute;
                    width: 1246px;
                    > div{
                        width: 80px;
                        border-radius: 50px;
                        height: 80px;
                        background-color: #424242
                    }
                }
                #barra {
                    background-color: #424242;
                    display: flex;
                    width: 1170px;
                    height: 30px;
                    padding: 0px 8px;
                    .concluido {
                        height: 100%;
                        width: 25%;
                    }
                    .não-concluido {
                        height: 100%;
                        width: 19%;
                    }
                }
            }
            #status {
                display: flex;
                width: 1252px;
                justify-content: space-between;
                gap: 20px;
                p {
                    width: 85px;
                    height: auto;
                    text-align: center;
                    font-weight: 500;
                }
                #statusAtual {
                    font-weight: 700;
                    color: #661515;
                }
            }
        }
        > section {
            width: 80%;
            padding: 30px 0px 30px 100px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            font-weight: 500;
            button {
                color: #0071A1;
                border: none;
                background-color: transparent;
                text-align: start;
                font-size: 16px;
                text-decoration: underline;
            }
        }
    }
}
@media(max-width: 1450px){
    #page-acompanhar-pedido {
        > #conteudo {
            > #progressoPedido{
                #icons {
                    width: 93%;
                }
                #barraProgresso {
                    #estagios {
                        width: 93%;
                    }
                    #barra {
                        width: 90%;
                    }
                }
                #status {
                    width: 93%;
                }
            }
            > section {
                padding: 30px 0px 30px 50px;
                align-items: flex-start;
            }
        }
    }
}
@media(max-width: 1100px){
    #page-acompanhar-pedido {
        > #conteudo {
            > #progressoPedido{
                #icons {
                    width: 100% !important;
                    .icon {
                        width: 75px;
                        height: 75px;
                    }
                }
                #barraProgresso {
                    #estagios {
                        width: 100% !important;
                        div {
                            width: 75px;
                            height: 75px;
                        }
                    }
                    #barra {
                        width: 95% !important;
                    }
                }
                #status {
                    width: 100% !important;
                }
            }
            > section {
                padding: 30px 0px 30px 0px;
                align-items: flex-start;
            }
        }
    }
}
@media(max-width: 900px){
    #page-acompanhar-pedido {
        > #conteudo {
            > #progressoPedido{
                height: 650px;
                flex-direction: row;
                justify-content: center;
                gap: 50px;
                #icons {
                    height: 100%;
                    width: 130px !important;
                    align-items: center;
                    flex-direction: column;
                    figure {
                        
                        height: 80px
                    }
                    .icon {
                        width: 80px;
                        height:  80px;
                    }
                    .icon-finalizado {
                        width: 60px;
                        height: 60px;
                        position: absolute;
                        left: 35px;
                        top: 0px;
                    }
                }
                #barraProgresso {
                    flex-direction: row;
                    height: 100%;
                    width: 130px !important;
                    #estagios {
                        width: 80px !important;
                        height: 100%;
                        flex-direction: column;
                        div {
                            width: 80px;
                            height: 80px;
                        }
                    }
                    #barra {
                        width: 30px !important;
                        height: 95%;
                        flex-direction: column;
                        padding: 0px 0px;
                        .concluido {
                            height: 25% !important;
                            width: 30px !important;
                        }
                        .não-concluido {
                            height: 19%;
                            width: 100%;
                        }
                    }
                }
                #status {
                    flex-direction: column;
                    width: 130px !important;
                    height: 100%;
                    div {
                        height: 80px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
            > section {
                padding: 30px 0px 30px 20px;
            }
        }
    }
}
@media(max-width: 600px){
    #page-acompanhar-pedido {
        > #conteudo {
            > #progressoPedido{
                gap: 30px;
                #icons {
                    width: 100px !important;
                    .icon {
                        width: 75px;
                        height: 75px;
                    }
                }
                #barraProgresso {
                    width: 100px !important;
                    #estagios {
                        align-items: center;
                        div {
                            width: 75px;
                            height: 75px;
                        }
                    }
                }
                #status {
                    width: 100px !important;
                }
            }
            > section {
                padding: 30px 0px 30px 10px;
                align-items: flex-start;
            }
        }
    }
}
@media(max-width: 450px){
    #page-acompanhar-pedido {
        > #conteudo {
            padding: 80px 25px 50px 25px;
            > #progressoPedido{
                gap: 17px;
                #icons {
                    width: 33%;
                    .icon {
                        width: 65px;
                        height: 65px;
                    }
                }
                #barraProgresso {
                    width: 33%;
                    #estagios {
                        div {
                            width: 65px;
                            height: 65px;
                        }
                    }
                    #barra {
                        width: 26px !important;
                        .concluido{
                            width: 26px !important;
                        }
                    }
                }
                #status {
                    font-size: 15px;
                    width: 33%;
                }
            }
            > section {
                padding: 30px 0px 30px 10px;
                align-items: flex-start;
                font-size: 15px;

            }
        }
    }
}
@media(max-width: 350px){
    #page-acompanhar-pedido {
        > #conteudo {
            > #progressoPedido{
                gap: 25px;
                #icons {
                    width: 60px !important;
                    .icon {
                        width: 55px;
                        height: 55px;
                    }
                }
                #barraProgresso {
                    width: 60px !important;
                    #estagios {
                        div {
                            width: 60px;
                            height: 60px;
                        }
                    }
                    #barra {
                        width: 23px !important;
                        .concluido{
                            width: 23px !important;
                        }
                    }
                }
                #status {
                    font-size: 15px;
                    width: 80px !important;
                }
            }
            > section {
                font-size: 14.5px;
                button {
                    font-size: 14.5px;
                }
            }
        }       
    }
}