.pag-cadastro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    > section {
        background-image: url("../../../../public/assets/images/backgroundImg.png");
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        font-family: 'Inter';
        #background{
            position: absolute;
            background-color: #000;
            opacity: 0.6;
            width: 100%;
            height: 100%;
        }
        > article {
            width: 850px;
            border-radius: 10px;
            box-shadow: 5px 5px 50px 0px #000;
            z-index: 50;
            padding: 25px 30px 45px 30px ;
            background-color: white;
            display: flex;
            flex-direction: column;
            height: 100%;
            gap: 30px;
            justify-content: space-between;
            align-items: center;
            h1 {
                color: #96391C;
                font-size: 27px;
            }
            form {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 100%;
                > article {
                    display: flex;
                    width: 105%;
                    flex-direction: column;
                    align-items: center;
                }
                > article > div {
                    display: flex;
                    gap: 85px;
                    margin-bottom: 30px;
                    h3 {
                        font-weight: 500;
                        font-size: 17px;
                    }
                    img {
                        width: 10px;
                    }
                }
                #residencial {
                    gap: 75px;
                }
                .input {
                    width: 280px;
                    height: 35px;
                    margin-bottom: 18px;
                    padding: 0px 10px 0px 18px;
                    outline: none;
                    border-radius: 30px;
                    border: 1px solid #96391C;
                }
                .inputResidenciais {
                    width: 298px;
                }
                .enderecoPreenchido {
                    width: 298px;
                    background-color: #606060;
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                }
            }
            #cadastrar{
                display: flex;
                flex-direction: column;
                gap: 20px;
                > button {
                    background-color: #F47E3C;
                    color: white;
                    height: 33px;
                    width: 250px;
                    border: none;
                    outline: none;
                    border-radius: 30px;
                    font-size: 15px;
                    font-weight: 600;
                }
                button:active{
                    background-color: #be5f2b;
                    transition: 0.2s;
                }
                button:hover {
                    transform: translateY(-3px);
                    transition: 0.2s;
                    background-color: #f7945a;
                    cursor: pointer;
                }

                > div {
                    display: flex;
                    align-items:center;
                    justify-content: center;
                    gap: 5px;
                    a{
                        color: #000;
                        font-size: 15px;
                    }
                    p {
                        font-size: 15px;
                    }
                }
            }
        }

    }
}

@media(max-width: 900px) {
    .pag-cadastro {
        > section {
            height: unset;
            > article {
                width: 500px;
                form {
                    flex-direction: column;
                    gap: 30px;
                }
            }
        }
    }
}
@media(max-width: 555px) {
    .pag-cadastro {
        > section {
            > article {
                width: 355px;
                form {
                    flex-direction: column;
                    gap: 30px;
                    > article > #residencial {
                        h3 {
                            font-size: 16.5px;
                            width: 210px;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 400px) {
    .pag-cadastro {
        > section {
            > article {
                width: 295px;
                h1 {
                    font-size: 23px;
                }
                form {
                    flex-direction: column;
                    gap: 30px;
                    > article > div {
                        width: 100%;
                        gap: 50px;
                        h3 {
                            font-size: 16px !important;
                            width: 200px;
                        }
                    }
                    > article > #residencial {
                        gap: 30px;
                        h3 {
                            width: 220px;
                        }
                    }
                    .input {
                        width: 250px;
                    }
                }
                #cadastrar {
                    display: flex;
                    align-items: center;
                    button {
                        width: 200px;
                        height: 31px;
                    }
                }
            }
        }
    }
}