.home {
    --toastify-color-progress-: #661515;
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
    font-family: 'Inter';
    .botão {
        margin: 30px;
        
        text-align: center;
        font-family: 'Inter';
        font-weight: 500;
        background-color: #F47E3C;
        padding: 14px;
        border-radius: 7px;
        border: none;
        font-size: 17px;
        transition: 0.2s;

        a {
            text-decoration: none;
            color: white;
            width: 100%;
            height: 100%;
        }
        :active {
            background-color: #be5f2b;
            transition: 0.2s;
        }

    }

    .botão:hover {
            transform: translateY(-3px);
            transition: 0.2s;
    }

    .banner-cafe {
        background-image: url('../../../../public/assets/images/image.psd.png');
        z-index: 1;
        background-size: cover;
        width: 100vw;
        background-repeat: no-repeat;
        
        display: flex;
        background-position: center;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: white;
        font-size: italic;
        font-family: Inter;
        font-style: italic;
        font-weight: 800;
        line-height: normal;
        padding: 50px;
        height: 570px;
    
        h1 {
            text-decoration: none;
            color: white;
            font-weight: 800;
            width: 70%;
        }
 
    }

    .categorias-carrossel {
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: 'Inter';
        > nav {
            display: flex;
            align-items: center;
            flex-direction: row;
            gap: 40px;
            width: 100%;
            
            > nav {
                display: flex;
                align-items: center;
                flex-direction: row;
                justify-content: space-evenly;
                width: 100%;
                gap: 40px;
                margin-top: 45px;
                font-weight: 500;
                font-size: 18px;
                > a {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    text-align: center;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                    color: black;
                    img {
                        width: 120px;
                        height: 120px;
                        border-radius: 100px;
                        cursor: pointer;
                    }
                }
            }
            .botao-categoria {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                height: 50px;
                img {
                    width: 25px;
                    rotate: 90deg;
                    height: 25px;
                }
            }
        }
        #posicaoContraria{
            flex-direction: row-reverse !important;
            .botao-categoria {
                img {
                    rotate: 270deg;
                }
            }
        }
    }

    .banner-ambiental {
        background-image: url('../../../../public/assets/images/sustentt.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        padding: 70px;
        color: #FFF;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        font-family: Inter;
        font-size: 15px;
        font-weight: 200;
        line-height: normal;

        .conteudo {
            margin-top: 70px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 100%;
            
            > div {
                display: flex;
                 align-items: center;
                flex-direction: column;
                width: 50%;

            }

            img {
                width: 300px;
            }
        }

        
    }

    .combo-iniciante {
        display: flex;
        padding: 70px;
        flex-direction: column;
        align-items: center;
        gap: 80px;

        .agrupamento-principal {
            display: flex;
            flex-direction: row;
            gap: 50px;
        }

         h3 {
            font-size: 27px !important;
            font-family: 'Inter';
        }

        .preco-combo {
            text-align: center;
            margin-left: 50px;
            
            b {
                font-size: 22px;
            }

            button {
                min-width: 150px;
                color: white;
                cursor: pointer;
            }
        }

        .agrupamento-itens-combo {
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
            right: -40px;
            .divisoria1 {
                gap: 15px;
                display: flex;
                flex-direction: row;
                align-items: center;
                > div {
                    display: flex;
                    gap: 15px;
                    align-items: center;
                    .item-combo {
                        justify-content: center;
                        align-items: center;
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        width: 160px;
                        text-align: center;
                        img {
                            width: 105px;
                        }
        
                        
                    }
                    > p {
                        font-size: 60px;
                        font-weight: 300;
                    }
                }
            }

            > p {
                font-size: 60px;
            }

            b {
                color: #661515;
                font-size: 18px;
            }

        }
    }

    .assinatura-mensal {
        background-image: url('../../../../public/assets/images/banneer-assinatura.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        
        color: white;
        width: 100%;
        font-size: 19px;
        padding: 110px; 
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        justify-content: space-around;

        h3 {
            width: 60%;
        }
    }
}
  

@media (max-width: 1210px) {
    .home {
        .combo-iniciante {
            width: 100% !important;
            
            img {
                width: 100px !important;
            }
            .agrupamento-principal {
                justify-content: center;
                flex-wrap: wrap;
                gap:100px;
            }
        }

        .preco-combo {
            position: relative;
            left: -27px;
        }
    }
}

@media (max-width: 1053px) {
    .home {
        .agrupamento-principal {
            // display: flex;
            // flex-direction: column !important;
            .divisoria1{
                gap: 5px !important;

                div {
                    gap: 5px !important;
                    .item-combo {
                        width: 156px !important;
                        img{
                            width: 95px !important
                        }
                    }
                }
            }
        }

        .banner-ambiental {
            .conteudo {
                flex-direction: column;
                align-items: center;

                h3 {
                    width: 200% !important;
                }
            }
        }

    }
}


@media (max-width: 830px) {
    .home {
        .combo-iniciante {
            .divisoria1{
                gap: 20px !important;
                width: 470px;
                flex-wrap: wrap;
                div {
                    .separadorSumir{
                        display: none
                    }
                    gap: 5px !important;
                    .item-combo {
                        width: 170px !important;
                        img{
                            width: 90px !important
                        }
                    }
                }
            }


        }

        .banner-ambiental {
            .conteudo {
                flex-direction: column;
                align-items: center;

                h3 {
                    width: 220% !important;
                }
            }
        }
    }
}


@media (max-width: 784px) {
    .home {
        .categorias-carrossel {
            > nav {
                nav {
                    img {
                        width: 100px !important;
                        height: 100px !important;
                    }
                }
            }
        }
        .assinatura-mensal {
            flex-direction: column;
            width: 100% !important;
            padding: 50px;
            
            h3 {
                width: 100% !important;
            }
        }

        // .combo-iniciante {
        //     img {
        //         width: 75px !important;
        //     }
        //     #filtro {
        //         img {
        //             width: 150px !important;
        //         }
        //     }

        //     #cafeteira {
        //         img {
        //             width: 150px !important;
        //         }
        //     }
        // }
    }
}

@media (max-width: 670px) {
    .home {
        
        .categorias-carrossel {
           

            #posicaoContraria{
                flex-direction: column !important;
                margin-top: 50px;
             
               
            }
            > nav {
                flex-direction: column-reverse !important;
                margin-top: -10px;
                margin-bottom: 20px;
 
          

                .botao-categoria {
                    transform: rotate(270deg);
                    margin-top: 20px;
                    margin-bottom: 10px;
                }
                > nav {
                    flex-direction: column !important;
                    height: 80vh;
                    margin-bottom: 30px;
        
                    img {
                        width: 120px !important;
                        height: 120px !important;
                        
                    }
                }
            }
        }
    }
}

@media (max-width: 450px) {
    .home {
       
        .combo-iniciante {
            h3 {
                font-size: 24px !important;
                text-align: center;
            }
            .agrupamento-principal{
                align-items: center;
                flex-direction: column !important;
            }
            .agrupamento-itens-combo{
                align-items: center;
                width: 100% !important;
                flex-direction: column !important;
                right: 0;
            }
            .divisoria1{
                gap: 20px !important;
                width: 100% !important;
                flex-direction: column !important;

                div {
                flex-direction: column;
                    .separadorSumir{
                        display: flex;
                    }
                    .item-combo {
                        img{
                            width: 85px !important
                        }
                    }
                }
            }

        }

    }
}


