
.corpo-principal-avaliacao {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 300px;
  height: 150px;
  align-items: center;
  border-radius: 5px;
  background-color: #C3937D;
  padding: 30px;
  gap: 20px;

  h2 {
    font-size: 21px;
  }
  
  img {
    display: flex;
    flex: 1;
    width: 35px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: 0.3s;
  
  }
  
  img:hover {
    transform: translateY(-3px);
    transition: 0.3s;
  }
   > div {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}

