
.corpo-principal-avaliacao {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 400px;
  height: 180px;
  align-items: center;
  border-radius: 5px;
  background-color: #7a4e39;
  padding: 30px;
  gap: 20px;
  justify-content: space-evenly;
  color: white;

  h2 {
    font-size: 26px;
  }
  
  img {
    display: flex;
    flex: 1;
    width: 39px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: 0.3s;
  
  }
  
  img:hover {
    transition: 0.3s;
    transform: scale(1.2) rotate(-10deg);
  }
   > div {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}

