.cadastro-combo {
    display: flex;
    flex-direction: column;
    font-family: 'Inter';
    justify-content: space-between;
    img {
        width: 85px;
    }

    > nav {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    

    .conteudo-site {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 20px;
        align-items: center;
        height: 100%;
        

        h1 {
            align-self: flex-start;
            font-size: 24px;
            margin: 0px 0px 30px 30px;
        }

        .card-cadastro {
            display: flex;
            flex-direction: row;
            width: 75%;
            background-color: #e8e8e8;
            padding: 40px;
            justify-content: space-between;
            height: 720px;
            box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);


            .sec1 {
                display: flex;
                flex-direction: column;
                width: 40%;
                justify-content: space-between;
                align-items: center;
                
                button {
                    display: flex;
                    border: none;
                    padding: 10px;
                    background-color: #F47E3C;
                    font-family: 'Inter';
                    color: white;
                    border-radius: 10px;
                    font-size: 18px;
                    align-items: center;
                    justify-content: center;
                    width: 50%;
                    transition: .3s;
                }

                button:hover {
                    transform: translateY(-5px);
                    transition: .3s;
                    font-weight: bold;
                    background-color: #f7945a;
                    width: 53%;
                    cursor: pointer;
                }

                .formulario {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    gap: 10px;
                    > div {
                        display: flex;
                        flex-direction: column;
                        font-family: 'Inter';
                        width: 100%;
                        gap: 5px;
                        input {
                            padding: 3px 10px;
                            border-radius: 8px;
                            border: 2px solid rgba(0, 0, 0, 0.37);
                            height: 28px;
                            margin: 0px 0px 13px 0px;
                            font-size: 17px;
                            width: 100%;
                            font-family: 'Inter';
                        }

                        input:focus {
                            outline: none;
                        }
                    }
                }
            }

            .selecao-produtos {
                display: flex;
                flex-direction: column;
                width: 55%;
                font-family: 'Inter';
                font-size: 15px;
                height: 100%;
                #button2{
                    display: none;
                }

                

                .visualizacao {
                    margin-top: 30px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    > h6 {
                        margin: 5px 0px 10px 0px;
                        font-size: 17px;
                        align-self: flex-end;
                        
                        b {
                            color: #661515;
                        }
                    }
                }
                .produtos-disponiveis {
                    background-color: #D9D9D9;
                    display: flex;
                    flex-direction: row;
                    gap: 50px;
                    flex-wrap: wrap;
                    justify-content: center;
                    padding: 15px 10px 15px 10px;
                    min-height: 250px;
                    max-height: 250px;
                    overflow: scroll;
                    overflow-x: hidden;
                    overflow-y: auto;

                    > div {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;  
                        padding: 0px 5px;
                        img {
                            height: 115px;
                            width: 115px;
                        }

                        #deletar {
                            z-index: 2;
                            display: none ;
                            color:#000;
                            font-family: 'Inter';
                            font-weight: 900;
                        }
                        > div {
                            display: flex;
                            flex-direction: row;

                            > h2 {
                                width: 25px;
                                font-size: 16px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                            
                            > p {
                                border: 2px solid black;
                                width: 25px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                cursor: pointer;
                            }
                            #deletar {
                                z-index: 2;
                                display: none ;
                                color:#000;
                                font-family: 'Inter';
                                font-weight: 900;
                            }
                        }
                    }
                    .itemDeletar:hover {
                        position: relative;
                        #deletar {
                            display: flex;
                            position: absolute;
                            top: 60px;
                        }
    
                        img {
                            // transform: scale(1.06);
                            transition: 0.5s;
                            opacity: 0.1;
                            // position: relative;
                            // left: -37px;
                        }
                    }
                    
                }
                .produtos-disponiveis::-webkit-scrollbar{
                    width: 22px;
                    scroll-behavior: smooth;
                }
                .produtos-disponiveis::-webkit-scrollbar-thumb{
                    border: 5px solid #d9d9d9;
                    background-color:#828282;
                    border-radius: 13px;
                }
            }
        }
    }
    
}

@media (max-width: 1289px) {
    .cadastro-combo {
        .conteudo-site {
            .card-cadastro {
                .sec1 {
                    button {
                        width: 60%;
                    }

                    button:hover {
                        width: 65%;
                    }
                }
            }
        }
    }
}

@media (max-width: 1095px) {
    .cadastro-combo {
        .conteudo-site {
            .card-cadastro {
                .sec1 {
                    button {
                        width: 80%;
                    }

                    button:hover {
                        width: 85%;
                    }
                }
            }
        }
    }
}

@media (max-width: 876px) {
    .cadastro-combo {
        .conteudo-site {
            .card-cadastro {
                flex-direction: column;
                height: fit-content;
                width: 90%;
                gap: 50px;
                .sec1 {
                    width: 100%;
                    
                    #button1 {
                        display: none;
                    }
                }
                .selecao-produtos {
                    width: 100%;
                    
                    #button2 {
                        display: flex;
                        width: 90%;
                        outline: none;
                        padding: 10px;
                        text-align: center;
                        align-self: center;
                        margin-top: 40px;
                        border: none;
                        background-color: #F47E3C;
                        font-size: 16px;
                        font-family: 'Inter';
                        cursor: pointer;
                        border-radius: 8px;
                        color: white;
                        transition: .2s;
                        justify-content: center;
                    }
                    .visualizacao {
                        margin-top: 30px;
                    }
                    #button2:hover {
                        transform: translateY(-5px);
                        font-weight: bold;
                        transition: .2s;
                    }
                }
            }
        }
    }
}

@media (max-width: 521px) {
    .cadastro-combo{
        .conteudo-site{
            .card-cadastro{
                padding: 20px;
            }
        }
    }
}

@media (max-width: 422px) {
    .cadastro-combo{
        .conteudo-site{
            .card-cadastro{
                width: 98%;
            }
        }
    }
}