#page-combos{
    > #conteudo {
        display: flex;
        align-items:center;
        flex-direction: column;
        padding: 50px 30px;
        gap: 50px;
        font-family: 'Inter';
        button:hover {
            cursor: pointer;
        }
        .precoMarrom {
            color: #661515;
        }
        > section {
            display: flex;
            border: 4px solid #661515;
            padding: 30px;
            border-radius: 10px;
            gap: 50px;
            > #a1 {
                display: flex;
                flex-direction: column;
                gap: 50px;
                h2 {    
                    margin-left: 35px;
                }
                > div {
                    flex-wrap: wrap;
                    display: flex;
                    align-items: center;
                    > img {
                        width: 30px;
                        height: 30px;
                    }
                    > section {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        margin-top: 15px;
                        gap: 5px;
                        > div {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            gap: 5px;
                            h5 {
                                font-family: 'Inter';
                                font-size: 15px;
                            }
                        }
                    }
                    .naoSoma {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 5px;
                        h5 {
                            font-family: 'Inter';
                            font-size: 15px;
                        }
                    }
                }
            }
            > #a2 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 50px;
                align-items: center;
                text-align: center;
                button {
                    height: 36px;
                    width: 200px;
                    color: white;
                    border-radius: 10px;
                    border: none;
                    font-family: "Inter";
                }
                .btMarrom {
                    background-color:#661515;
                }
                .btMarrom:active {
                    background-color:#331111;
                }
                .btLaranja {
                    background-color: #F47E3C;
                }
                .btLaranja:active {
                    transform: translateY(-3px);
                    background-color: #c76a35;
                    transition: 0.2s
                }
            }
            display: flex;
        }

        #s1 {
            > #a1 {
                > div {
                    > section {
                        position: relative;
                        #combo-esquerda {
                            position: absolute;
                            bottom: 50px;
                            margin: 0px 5px;
                            right: 10px;
                            width: 50px;
                        }
                        #combo-direita {
                            position: absolute;
                            bottom: 50px;
                            margin: 0px 5px;
                            left: 0px;
                            width: 50px;
                        }
                    }

                }
            }
        }
        #s2 {
            > #a2 {
                justify-content: center;
                gap: 50px;
                #buttons {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }
            }
        }
    }
}

@media(max-width: 1150px){
    #page-combos{
        > #conteudo {
            > section {
                display: flex;
                flex-direction: column;
            }
        }
    }
}