#page-pedido-finalizado {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    > #conteudo {
        font-family: 'Inter';
        display: flex;
        flex-direction: column;
        padding: 20px 30px 20px 30px;
        #s1 {
            display: flex;
            gap: 5px;
            flex-direction: column;
            align-items: center;
            img {
                width: 100px;
            }
        }
        #s2 {
            padding-top: 20px;
        }
        #s3 {
            display: flex;
            padding: 20px 20px 0px 20px;
            flex-direction: column;
            align-items: center;
            font-size: 18px;
            span {
                color: #32ca2c;
                font-weight: 600;
            }
            article {
                display: flex;
                padding-top: 20px;
                flex-direction: row;
                gap: 60px;
                font-size: 16px;
                #voltar {
                    gap: 10px;

                    img {
                        width: 20px;
                    }
                }
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 36px;
                    border-radius: 20px;
                    color: white;
                    background-color: #F47E3C;
                    text-decoration: none;
                    width: 250px;
                }
                a:active {
                    background-color: #be5f2b;
                    transition: 0.2s;
                }
                a:hover {
                    transform: translateY(-3px);
                    transition: 0.2s;
                }
            }
        }
    }
}
@media(max-width: 950px){
    #page-pedido-finalizado {
        > #conteudo {
            #s3 {
                p {
                    font-size: 16px;
                    text-align: center;
                }
            }
        }
    }
}
@media(max-width: 700px){
    #page-pedido-finalizado {
        > #conteudo {
            #s1 {
                h2 {
                    font-size: 23px;
                }
                p {
                    font-size: 15.5px;
                }
                img {
                    width: 95px;
                }
            }
            #s3 {
                p {
                    font-size: 15.5px;
                }
                article {
                    flex-direction: column;
                    gap: 10px;
                    font-size: 15.5px;
                }
            }
        }
    }
}
@media(max-width: 550px){
    #page-pedido-finalizado {
        > #conteudo {
            #s1 {
                h2 {
                    font-size: 22px;
                }
                p {
                    font-size: 15px;
                }
                img {
                    width: 90px;
                }
            }
            #s3 {
                p {
                    font-size: 15px;
                }
                article {
                    font-size: 15px;
                    a {
                        width: 225px;
                    }
                }
            }
        }
    }
}
@media(max-width: 450px){
    #page-pedido-finalizado {
        > #conteudo {
            #s1 {
                h2 {
                    font-size: 20px;
                }
                p {
                    font-size: 14px;
                }
                img {
                    width: 80px;
                }
            }
            #s3 {
                p {
                    font-size: 14.5px;
                }
                article {
                    font-size: 14px;
                    a {
                        width: 200px;
                    }
                    #voltar {
                        gap: 6px;
                        img {
                            width: 17px;
                        }
                    }
                }
            }
        }
    }
}