#page-pedido-finalizado {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    main {
        display: flex;
        flex-direction: column;
        #s1 {

        }
        #s2 {

        }
    }
}