.descricao-produto {
    display: flex;
    flex-direction: column;

    .back-to-page {
        border: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        margin: -20px 0px 20px 0px;
        font-size: 16px;
        cursor: pointer;
        h1 {

        }
        img {
            width: 40px;
        }
    }

    .botao {
        display: flex;
        padding: 8px 30px;
        background-color: #F47E3C;
        border: none;
        align-items: center;
        justify-content: center;
        border-radius: 21px;
        color: white;
        font-size: 18px;
        font-family: 'Inter';
        transition: .3s
    }

    .botao:hover {
            transform: translateY(-3px);
            transition: .2s;
            font-weight: bold;
            background-color: #f7945a;
            cursor: pointer;
    }
    .botao:active{
        background-color: #be5f2b;
        transition: 0.2s;
    }

    b {
        color: #661515;
    }
    

    > nav {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .corpo-site {
        display: flex;
        flex-direction: column;
        padding: 40px;
        

        .agrupamento {
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            .imagem-tipos {
                display: flex;
                flex-direction: column;
                align-items: center;
                align-items: center;
                width: 40%;
                margin-bottom: 60px;
    
                .imagem-principal {
                    display: flex;
                    flex-direction: column;
                    background-color: #E8E8E8;
                    width: 100%;
                    align-items: center;
                    padding: 30px;
                    box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
                    
                    > img {
                        width: 150px;
                        margin-bottom: 30px;
                    }
        
                    .imagens-produto {
                        display: flex;
                        flex-direction: row;
                        gap: 20px;
                        width: 100%;
                        align-items: center;
                        justify-content: center;
                        
                        .imagem-baixa {
                            padding: 10px;
                            border: 1px solid black;
                            width: 120px;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            img {
                                width: 80px;
                            }
                        }
                    }
                }

                .detalhes-produto {
                    display: flex;
                    flex-direction: row;
                    gap: 20px;
                    margin-top: 20px;

                    img {
                        width: 40px;
                    }

                    .tipos {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        .tipo-imagem {
                            background-color: #E8E8E8;
                            padding: 8px;
                            border-radius: 100px;
                        }
                    }


                }
            }
    
            .detalhes-produto {
                display: flex;
                flex-direction: column;
                width: 100%;
                justify-content: space-evenly;
            }

            .compra-categoria {
                display: flex;
                flex-direction: column;
                width: 55%;

                .compra {
                    display: flex;
                    background-color: #E8E8E8;
                    flex-direction: column;
                    box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
                    padding: 30px 20px;
                    
                    h1 {
                        font-size: 25px;
                    }

                    .nome-preco  {
                        display: flex;
                        flex-direction: column;
                        h1 {
                            margin-bottom: 20px;
                        }

                       
                    }

                    .botoes {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-evenly;
                        margin-top: 35px;

                        button {
                            width: 40%;
                            justify-content: center;
                        }
                    }

                    .formas-entrega {
                        display: flex;
                        flex-direction: column;
                        margin: 20px 0px;                            

                        .input-botao {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            margin-top: 8px;

                           button {
                            width: 30%;
                            justify-content: center;
                           }

                            input {
                                height: 38px;
                                width: 70%;
                                font-size: 17px;
                                padding: 15px;
                                border: none;
                                border-radius: 21px;
                                margin-right: 10px;
                                font-family: 'Inter';
                            }

                            input:focus {
                                outline: none;
                            }
                        }
                    }
                    .opcoes-entrega {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        margin-top: 10px;
                        
                        
                        > div {
                            display: flex;
                            gap: 8px;
                            align-items: center;
                            flex-direction: column;

                            img {
                                width: 200px;
                            }
                        }
                        
                        #loggi-logo {
                            position: relative;
                            top: -23px;
                        }

                        #texto-loggi {
                            position: relative;
                            top: -52px;
                        }
                    }
                }

                .categoria {
                    display: flex;
                    flex-direction: row;
                    background-color: #e8e8e8;
                    margin-top: 20px;
                    box-shadow: 6px 6px 0px 0px #F47E3C;
                    border-radius: 0px 100px 100px 0px;
                    width: 350px;
                    padding: 5px 0px 5px 10px;
                    justify-content: space-between;
                    align-items: center;

                    img {
                        justify-self: flex-end;
                        width: 50px;
                        height: 50px;
                        border-radius: 30px
                    }
                }
            }
        }
        .detalhes-tecnicos {
            display: flex;
            flex-direction: column;
            margin-bottom: 70px;

            .tabelas {
                display: flex;
                flex-direction: row;

                table {
                    font-size: 17px;
                    width: 40%;
                    tbody {
                        tr {
                            display: flex;
                            flex-direction: column;
                            border: 1px solid #9F9F9F;

                            td {
                                border: 1px solid #9F9F9F;
                                padding: 3px 10px;
                            }
                        }
                    }
                }
                
                #tabela1 {

                    td {
                        background-color: #E8E8E8;
                    }
                }

                #tabela2 {
                    margin-left: -5px;
                }
            }
            
            }
            > h1 {
                 margin-bottom: 30px;
             }

            .voce-pode-precisar {
                display: flex;
                    align-items: center;
                flex-direction: column;
                width: 101%;

                :second-child {
                    align-items: center;
                }

                
                img {
                    width: 110px;
                    transition: .3s;
                    margin-bottom: 5px;
                }

                .produtos-necessidade {
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    justify-content: space-around;
                    width: 100%;
                    button:first-child {
                        transform: rotate(180deg);
                    }

                    button {
                        width: 40px;
                        font-size: 20px;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 100px;
                        padding: 10px;
                        background-color: #F47E3C;
                        color: white;
                        border: none;
                        cursor: pointer;
                    }

                    .produto {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        min-width: 180px;
                        text-decoration: none;
                        img {
                            align-self: center;
                            width: 105px;
                        }
                        #nomeProduto{
                            text-align: center;
                            color: black;
                            margin: 8px 0px 2px 0px;
                        }
                        p {
                            font-size: large;
                        }

                        .preco-produto {
                            font-size: larger;
                        }
                    }

                    .produto:hover {
                        cursor: pointer;
                        img {
                            transform: scale(1.07);
                            transition: .3s;
                        }
                    }
                }
            }
    }

          
}
@media (max-width: 1142px) {
    .descricao-produto {
        .opcoes-entrega {
            div {
                img {
                    width: 170px !important;
                }

                overflow-wrap: break-word;
                text-align: center;
                
                #texto-loggi {
                    position: relative;
                    top: -45px !important;
                    overflow-wrap: break-word;
                    text-align: center;
                }
            }
        }
        .produtos-necessidade {
            .produto {
                img {
                    align-self: center;
                    width: 100px !important;
                }
            }
        }
    }
}

@media (max-width: 963px) {
    .descricao-produto {

        .botao {
            padding: 6px !important;
            font-size: 16px;
        }

        .detalhes-produto {
            width: 90% !important;
        }
        .produtos-necessidade {
            .produto {
                img {
                    width: 95px !important;
                }
            }
        }

        .imagem-principal {

             img {
                width: 50% !important;
            }

            .imagem-baixa {
                width: 120px !important;
                align-items: center;
                justify-content: center;
                display: flex;

                img {
                    width: 70% !important;
                }
            }
        }
    }
}

@media (max-width: 823px) {
    .descricao-produto {
        .agrupamento {
            flex-direction: column !important;
            align-items: center;

            .imagem-tipos {
                width: 90% !important;
                .imagem-principal {

                    img {
                       width: 22% !important;
                       min-width: 95px;
                   }

                   .imagens-produto {
                    .imagem-baixa {
                        width: 120px !important;
                        align-items: center;
                        justify-content: center;
                        display: flex;
        
                        img {
                            width: 17% !important;
                            min-width: 55px;
                        }
                    }

                   }
                }   
                
                .detalhes-produto {
                    width: 90% !important;


                    img {
                        width: 80%;
                    }
                }
            }

            .compra-categoria {
                width: 90% !important;
                
                .categoria {
                    width: 100% !important;
                    img {
                        width: 45px;
                    }

                    margin-bottom: 40px;
                }
            }
        }
        .produtos-necessidade {
            flex-wrap: wrap;
            gap: 10px;
            justify-content: flex-start !important;
            .produto {
                width: 32%;
                min-width: 150px !important;
                #nomeProduto{
                    font-size: 16.2px
                }
                img {
                    width: 90px !important;
                }
            }
        }
        
        table {
            width: 50% !important;
        }
    }
}

@media (max-width: 700px) {
    .descricao-produto {
        table {
            font-size: 15px !important;
        }

        .imagem-principal {
            width: 114% !important;
        }

        .compra-categoria {
            width: 100% !important;

            .compra {
                width: 100% !important;
            }
        }
        .produtos-necessidade {
            gap: 30px;
            justify-content: center !important;
            .produto {
                width: 40%;
                #nomeProduto{
                    font-size: 16px;
                }
                img {
                    width: 85px !important;
                    min-width: 80px;
                }
            }

            // .produto:first-child {
            //     display: none !important;
            // }
        }

        
    }
}

@media (max-width: 480px) {
    .descricao-produto {
        table {
            font-size: 15px !important;
            #alergia {
                height: 50px;
            }
        } 
        .produtos-necessidade {
            .produto {
                min-width: 180px !important;
                img {
                    // width: 60% !important;
                    min-width: 80px;
                }
            }

            
        }

        
    }
}