.comp-usuario-cabecalho {
    font-family: 'Inter';
    display: flex;
    flex-direction: column;
    
    > div {
        background-color: #514641;
        box-shadow: 0px 0px 10px 0px #000;
        padding: 3px 0px;
        display: flex;
        flex-direction: row;
        align-items: center;

        #s1 {
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            height: 65px;
            padding: 0px 30px;
            width: 100%;
            section {
                width: 27%;
                display: flex;
                align-items: center;
                gap: 40px;
                height: 100%;
                position: relative;
                > a {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    gap: 3px;
                    text-decoration: none;
                    
                    img {
                        width: 25px;
                    }
                    p {
                        margin: 0px;
                        font-size: 13.5px;
                        color: white;
                    }
                    #carrinho {
                        width: 13px;
                        top: 10px;
                        left: 30px;
                        height: 13px;
                        background:  #F47E3C;
                        border-radius: 50px;
                        position: absolute 
                    }
                    #conta {
                        width: 13px;
                        top: 10px;
                        left: 115px;
                        height: 13px;
                        background:  #F47E3C;
                        border-radius: 50px;
                        position: absolute 
                    }
                }
            }
            #logo{
                display: flex;
                width: 26%;
                height: 100%;
                align-items: center;
                justify-content: center;
                 img {
                    width: 240px;
                    height: 100%;
                }
            }
            #invisivel {
                display: none;
                width: 26%;
                height: 100%;
                align-items: center;
                justify-content: center;
            }
    
            .lupa {
                width: 26%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                height: 26px !important;
                gap: 20px;                
                > div {
                   display: flex;
                   flex-direction: column;
                   height: 26px !important;
                   z-index: 2;

                    // .input-pesquisar {
                    // }
    
                    .dropdown {
                    background-color: rgb(246, 246, 246);
                    display: flex;
                    z-index: 2;
                    flex-direction: column;
                    width: 310px;
                    
                    hr {
                        width: 100%;
                        margin: 5px 0px 0px 0px;
                    }

                    > div {
                        display: flex;
                        transition: .2s;
                        align-items: flex-start;
                        flex-direction: column;
                        width: 100%;
                        cursor: pointer;
                        justify-content: center;
                        margin: 5px 0px;
                        // gap: 10px;
                        padding: 13px;

                        font-size: 13px;

                        > div {
                            display: flex;
                            flex-direction: row;
                            
                            img {
                                margin-right: 10px;
                            }
                        }
                    }

                    > div:hover {
                        transition: .2s;
                        background-color: #dfdfdf;
                        transform: translateY(-5px);
                    }
                    img {
                        width: 70px;
                        height: 70px;
                    }
                    }

                    .dropdown:empty {
                    border: none;
                    }

                }
                img {
                    width: 30px;
                    height: 30px;
                }
                #menu {
                    display: none;
                }
                nav {
                    z-index: 3;
                    top: 60px;
                    position: absolute;
                    display: none;
                    height: 350px;
                    width: 200px;
                    flex-direction: column;
                    justify-content: space-between;
                    background-color: white;
                    padding: 15px;
                    div {
                        width: 100%;
                        height: 30px;
                        a {
                            color: black;
                            text-decoration: none;
                            transition: .2s;
                            font-size: 15px;
                        }
                         a:hover {
                            font-weight: bold;
                            transition: .2s;
                        }
                    }
                }
                input {
                    border: none;
                    border-radius: 8px 8px 0px 0px;
                    height: 15px;
                    background-color: rgb(246, 246, 246);

                    font-size: 14px;
                    padding: 13px;
                    width: 310px;
                }
        
                input:focus {
                    outline: none;
                }
            }
            > a:hover {
                font-size: 17px;
                color: #661515;
                font-weight: 700;
                transition: 0.2s;
            }
        }
        #s2 {
            display: none;
            padding: 5px 30px;
            align-items: center;
            flex-direction: column;

            img {
                width: 50px;
                height: 50px;
            }

            .dropdown {
                background-color: rgb(246, 246, 246);
                z-index: 2;
                display: flex;
                flex-direction: column;
                width: 310px;

                hr {
                    width: 100%;
                    margin: 5px 0px 0px 0px;
                }

                .dropdown-row {
                    display: flex;
                    transition: .2s;
                z-index: 2;
                align-items: flex-start;
                    flex-direction: column;
                    width: 100%;
                    cursor: pointer;
                    justify-content: center;
                    margin: 5px 0px;
                    // gap: 10px;
                    padding: 13px;

                    font-size: 13px;

                    > div {
                        display: flex;
                        flex-direction: row;
                        
                        img {
                            margin-right: 10px;
                            width: 70px;
                            height: 70px;
                        }
                    }
                }
            }

            .campo1 {
                width: 100%;
                height: 35px;
                border-radius: 8px 8px 0px 0px;
                display: flex;
                flex-direction: row;
                background-color: rgb(246, 246, 246);
                align-items: center;
                padding: 5px 13px;
                input {
                    padding-right:13px;
                    height: 98%;
                    font-size: 15px;
                    background-color: rgb(246, 246, 246);
                    
                    border: none;
                    width: 100%;
                }
        
                input:focus {
                    outline: none;
                }
                img {
                    width: 27px;
                    height: 27px;
                }
            }
        }
    }
    > nav {
        height: 42px;

        display: flex;
        align-items: center;
        > section {
            width: 100%;
            padding: 0px 100px;
            display: flex;
            align-items: center;
            justify-content: space-between;

        }
        a {
            color: black;
            text-decoration: none;
            transition: .2s;
            font-size: 15px;
        }
         a:hover {
            font-weight: bold;
            transition: .2s;
        }
    }
}


@media(max-width:1000px){
    .comp-usuario-cabecalho {
        > div {
            #s1{
                a{
                    p{
                        display: none;
                    }
                }
                #logo {
                    display: none;
                }
                #invisivel{
                    display: flex;
                }
                > section{
                    a {
                        #carrinho {
                            top: 18px;
                            left: 15px;
                        }
                        #conta {
                            top: 18px;
                            left: 80px;
                        }
                    }
                }
            }
            
        }
        nav {
            section {
                padding: 0px 30px;
            }
        }
    }
}

@media(max-width: 900px) {
    .comp-usuario-cabecalho {

        #hrsumir {
            display: none;
        }
        > div {
            flex-direction: column;
            padding-bottom: 15px;
            gap: 8px;
            #s1 {
                
                .lupa {
                    nav {
                        display: flex ;
                    }
                    > div {
                        display: none;
                    }
                    #menu {
                        display: flex;
                        width: 27px;
                        height: 27px;
                    }
                    img {
                        display: none;
                    }
                }
            }
            #s2 {
                display: flex;
                height: 40px;
                width: 100%;
                .dropdown {
                    width: 100%;
                }
            }
        }
         nav {
             display: none;
        }
    }
}

@media(max-width: 500px) {
    .comp-usuario-cabecalho {
        > div {
            #s1 {
                section {
                    a {
                        #conta {
                            top: 18px;
                            left: 55px;
                        }
                    }
                    gap: 15px;
                }
            }
            #s2 {
                > div {
                    input {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
@media(max-width: 400px) {
    .comp-usuario-cabecalho {
        > div {
            #s1 {
                section {
                    a {
                        #carrinho {
                            width: 12px;
                            top: 20px;
                            left: 12px;
                            height: 12px;
                        }
                        #conta {
                            width: 12px;
                            top: 20px;
                            left: 47px;
                            height: 12px;
                        }
                        img {
                            width: 22px;
                        }
                    }
                }
            }
        }
    }
}