.page-carrinho{
    display: flex;
    flex-direction: column;
    height: 100vh;
    > #conteudo {
        #carrinho-vazio{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            img{
                height: 150px;
                margin-left: -32px;
                margin-bottom: 40px;
    
            }
            #textoMaior{
                font-size: 40px;
                font-weight: 500;
                font-family: Inter;
            }
            p {
                margin-bottom: 15px;
                width: 300px;
                text-align: center;
            }
            button{
                border-radius: 20px;
                width: 150px;
                height: 35px;
                border: none;
                background-color: #661515;
                color: white;
                font-family: 'Inter';
                margin-top: 20px;
            }
    
            button:active{
                background-color: #be5f2b;
                transition: 0.1s;
            }
    
        }
        #carrinho-cheio {
            display: flex;
            flex-direction: column;
            padding: 45px 70px 40px 70px;
            > h2 {
                font-size: 31px;
                text-align: center;
                margin-bottom: 30px;
            }
            main{
               display: flex;
               flex-direction: column;
               align-items: center;
               justify-content: center;
               margin: 20px;
               gap: 25px;
               > section {
                   padding: 20px 40px;
                   display: flex;
                   width: 45%;
                   min-width: 400px;
                   flex-direction: row;
                    border-radius: 10px;
                   justify-content: space-between;
                   background-color: #dddada;
                   #a1 {
                       display: flex;
                       gap: 5px;
                       #produto {
                           img {
                                width: 130px;
                                height: 130px;
                           }
                       }
                       #detalhes {
                           display: flex;
                           justify-content: flex-start;
                           flex-direction: column;
                           gap: 20px;
                           > div {
                               display: flex;
                               gap: 7px;
                               button {
                                   width: 20px;
                                   display: flex;
                                   align-items: center;
                                   justify-content: center;
                                   background-color: rgba(10,23,55,0);
                                   border: 0.5px solid black;
                               }
                           }
                       }
                   }
                   #a2 {
                       i {
                           font-size: 25px;
                       }
                       i:hover {
                        color: red;
                       }
                   }
               }
            }

            #s2 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0px 20px;  
                font-family: 'Inter';
                gap: 22px;
                article {
                    display: flex;
                    align-items: center;
                    width: 18%;
                    min-width: 180px;
                    justify-content: space-between;
                }
                hr {
                    border-color: #dbdbdb;
                    width: 70%;
                    margin-bottom: 30px;
                }
            }
            > #s3 {
                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 100%;
                height: 80px;
                gap: 100px;
                margin: 90px 0px 0px 0px;
                a {
                    width: 280px;
                    text-decoration: none;
                    color: white;
                    border-radius: 30px;
                    height: 36px;
                    min-height: 36px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 14.8px;
                }
                #marrom {
                    background-color: #661515;
                }
                #marrom:active {
                    background-color:#331111;
                    transition: 0.2s;
                }
                #laranja {
                    background-color: #F47E3C;
                }
                #laranja:active {
                    background-color: #be5f2b;
                    transition: 0.2s;
                }
                a:hover {
                    transform: translateY(-3px);
                    transition: 0.2s;
                }
            }
    
        }
    }
}

@media (max-width: 1250px) {
    #carrinho-cheio{
        > h2 {
            font-size: 29px !important;
        }
        > main{
            > section {
                padding: 20px 25px !important;
                min-width: 480px !important;
                #a1 {
                    gap: 5px !important;
                }
            }
        }
    }
}
@media (max-width: 900px) {
    #carrinho-cheio{
        > h2 {
            font-size: 28px !important;
        }
        > #s2 {
            hr {
                width: 504px !important;
            }
        }
    }
}
@media (max-width: 700px) {
    #carrinho-cheio{
        > main{
            > section {
                padding: 20px 25px !important;
                min-width: 360px !important;
                #a1 {
                    gap: 5px !important;
                    #produto {
                        img {
                            width: 120px !important;
                            height: 120px !important;
                        }
                    }
                }
            }
        }
        > #s2 {
            hr {
                width: 400px !important;
            }
        }
        > #s3 {
            align-items: center;
            flex-direction: column !important;
            gap: 10px !important;
            margin-bottom: 40px;
            margin-top: 50px !important;
        }
    }
}
@media (max-width: 450px) {
    #carrinho-cheio{
        padding: 40px 20px !important;
        h2 {
            font-size: 27px !important;
        }
        > main{
            > section {
                padding: 20px 20px !important;
                min-width: 290px !important;
                #a1 {
                    #produto {
                        img {
                            width: 110px !important;
                            height: 110px !important;
                        }
                    }
                    #detalhes {
                        gap: 13px !important;
                        width: 100px;
                        p {
                            font-size: 14.5px;
                        }
                    }
                }
                #a2 {
                    i {
                        font-size: 20px !important;
                    }
                }
            }
        }
        > #s2 {
            hr {
                width: 100% !important;
            }
        }
        > #s3 {
            align-items: center;
            flex-direction: column !important;
            gap: 10px !important;
            margin-bottom: 40px;
            margin-top: 50px !important;
            a {
                width: 230px !important;
            }
        }
    }
}
@media (max-width: 350px) {
    #carrinho-cheio{
        > h2 {
            font-size: 26.5px !important;
        }
        > main{
            > section {
                padding: 20px 20px !important;
                min-width: 280px !important;
                #a1 {
                    gap: 5px !important;
                    > div > img {
                        width: 60px;
                    }
                    #detalhes {
                        gap: 13px !important;
                    }
                }
                #a2 {
                    i {
                        font-size: 20px !important;
                    }
                }
            }
        }
    }
}