.page-carrinho{
    display: flex;
    flex-direction: column;
    height: 100vh;
    
    .tudo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 70%;
        width: 100%;
        img{
            height: 150px;
            margin-left: -32px;
            margin-bottom: 40px;

        }
        #textoMaior{
            font-size: 40px;
            font-weight: 500;
            font-family: Inter;
        }
        p {
            margin-bottom: 15px;
            width: 300px;
            text-align: center;
        }
        button{
            border-radius: 20px;
            width: 150px;
            height: 35px;
            border: none;
            background-color: #661515;
            color: white;
            font-family: 'Inter';
            margin-top: 20px;
        }

        button:active{
            background-color: #be5f2b;
            transition: 0.1s;
        }

    }

}