.page-carrinho{
    display: flex;
    flex-direction: column;
    
    .tudo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 144.5px 0px;

        img{
            height: 150px;
            margin-left: -32px;
            margin-bottom: 15px;
        }


        h1 {
            font-size: 30px;
        }
        h2{
            opacity: 0.6;
            text-align: center;
            width: 281px;
            
        }

        button{
            border-radius: 20px;
            width: 150px;
            height: 29px;

            border: none;

            background-color: #F47E3C;
            color: white;

            margin-top: 20px;

        }

        button:active{
            background-color: #be5f2b;
            transition: 0.1s;
        }

        

        h1 {
            opacity: 0.6;
            
            margin-bottom: 10px;
        }


    }

}